<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="MyGet - opentable" value="https://www.myget.org/F/opentable/" />
  </activePackageSource>
  <packageSources>
    <add key="MyGet - opentable" value="https://www.myget.org/F/opentable/" />
  </packageSources>
  <apikeys>
    <add key="https://www.myget.org/F/opentable/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAADZbo1018rU+cknnivn9PPgAAAAACAAAAAAADZgAAwAAAABAAAAC+woRl3HUe/j8GFwlNikTjAAAAAASAAACgAAAAEAAAAJcFyTlWGgtPqL/E2t5W1jIoAAAAzHWHoagQTbUPwxY98YqsqPFDk2Km34LRomTFZ33AEiC+1vfdFmi6UhQAAACKn43TIP0ws+7latIQQmNRbTOykA==" />
  </apikeys>
  <disabledPackageSources />
  <packageSourceCredentials>
    <MyGet_x0020_-_x0020_opentable>
      <add key="Username" value="opentable-myget" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAADZbo1018rU+cknnivn9PPgAAAAACAAAAAAADZgAAwAAAABAAAABvVSae1oD6lNsPORHVckWtAAAAAASAAACgAAAAEAAAAMIjMngWFXm2nfpxW3SJs1MQAAAAO/YS5tEwLJHPdE7R9CfrlBQAAADq837L32FDlI4cV00twsWN/JP3Ng==" />
    </MyGet_x0020_-_x0020_opentable>
  </packageSourceCredentials>
</configuration>
